.home{
  padding:56px 20px;
  min-height:100%;
  width: 100%;
  margin: 18px auto 0;
}

.article{

  border-top: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 21px;
  width: 100%;
}

.article-contents{
  flex: 0 0 50%;
  padding-right: 21px;
}

.article-header{
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 23px;
  margin-bottom: 8px;
}

.article-contents{
  font-size: 14px;
  color: #333;
  font-family: Georgia,'times new roman',times,serif;

}

.article-date{
  flex: 0 0 15%;
  margin: 8px 0 7px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;

  
}
.article-image{
  flex: 0 0 25%;

}

.article-byline{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
}

.article-image img {
    width: 100%;
}

